<main>
  <section class="banner-area-2 pt-200 pb-95" id="banner_animation" style="background-size: auto; background-position: top left;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="banner-content">
            <img data-parallax='{"x": 0, "y": 250, "rotateZ":0}' class="shape"
                 src="<%= asset_path('banner/shape-3.png') %>" alt="shape">
            <h1 class="wow fadeInUp mb-0"><%= @header_blog.try(:title) %></h1>
            <p class="wow fadeInUp mt-50" data-wow-delay="0.3s">
              <!--Todos los servicios y productos que ofrecemos en Factor GFC Global ofrecen a sus clientes la oportunidad de concretar el crecimiento de su patrimonio, así como de sus negocios.-->
              <%= @header_blog.try(:description) %>
            </p>
            <a href="loan" data-wow-delay="0.5s"
               class="wow fadeInUp theme-btn theme-btn-lg mt-50">
              Aplica Ahora <i class="arrow_right"></i>
            </a>
          </div>
        </div>
        <div class=" col-md-6 col-lg-5 offset-lg-1 pt-40">
          <div class="banner-img">
            <img class="main-img img-fluid wow fadeInRight"  src="data:image/jpeg;base64,<%= @header_blog.try(:image) %>" alt="banner-img">

            <div class="shapes">
              <img data-parallax='{"x": 0, "y": 130, "rotateZ":0}' class="shape-1"
                   src="<%= asset_path('banner/shape-1.png') %>" alt="shape">
              <img data-parallax='{"x": 0, "y": -130, "rotateZ":0}' class="shape-2"
                   src="<%= asset_path('banner/shape-2.png') %>" alt="shape">
              <img data-parallax='{"x": 250, "y":0, "rotateZ":0}' class="shape-3"
                   src="<%= asset_path('banner/shape-4.png') %>" alt="shape">
              <img data-parallax='{"x": -200, "y": 250, "rotateZ":0}' class="shape-4"
                   src="<%= asset_path('banner/shape-5.png') %>" alt="shape">
              <img class="shape-5" src="<%= asset_path('banner/shape-6.png') %>" alt="shape">
              <img class="shape-6" src="<%= asset_path('banner/shape-7.png') %>" alt="shape">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner section -->

  <!-- Articales start -->
  <section class="articles-area pt-125 pb-140">
    <div class="container">
      <div class="section-title d-flex flex-wrap justify-content-between text-start align-items-center">
        <h2 class="mb-3 mb-sm-0 wow fadeInRight">Mas sobre de finanzas y créditos</h2>
        <!--a class="wow fadeInLeft" href="blog.html">See All Articles < !--i class="arrow_left"></i-- ></a-->
      </div>
      <div class="row mt-60 gy-4 gy-lg-0">
        <% @blogs.each do |blog| %>
          <div class="col-lg-3 col-md-6" onclick="location.href='blog_details/<%= blog.id %>';" style="cursor: pointer;">
            <div class="blog-widget-1 wow fadeInUp" data-wow-delay="0.1s">
              <div style="width: 100%; height: 191px;overflow: hidden;">
                <img class="w-100" src="data:image/jpeg;base64,<%= blog.image %>" alt="news image">
              </div>
              <div class="blog-content pr-10 pl-10">
                <h6><a href='blog_details/<%= blog.id %>'><%= blog.title %></a></h6>
                <div class="blog-date">
                  <span><%= blog.created_at.strftime("%d-%m-%Y") %></span>
                  <i class="fa fa-calendar-check-o" style="margin-left: 15px;"></i>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <!-- Articales end -->

  <section class="feature-area-2 pt-140 pb-140" id="feature">
    <div class="container">
      <div class="feature">
        <div class="row gy-lg-0 gy-4">
          <div class="col-lg-4">
            <div class="feature-widget-2 align-items-center wow fadeInRight feature-1"
                 data-wow-delay="0.1s">

              <div class="shapes">
                <img src="<%= asset_path('feature/shape-6.png') %>"  alt="shape">
                <img src="<%= asset_path('feature/shape-10.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-4.png') %>"  alt="shape">
                <img src="<%= asset_path('feature/shape-3.png') %>"  alt="shape">
                <img src="<%= asset_path('feature/shape-12.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-12.png') %>" alt="shape">
              </div>

              <div class="feature-img">
                <img src="<%= asset_path('feature/icon-5.png') %>" alt="">
              </div>
              <div class="feature-content">
                <p>MAS DE $5M</p>
                <h6>Prestamos de Alto Rango</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature-widget-2 align-items-center wow fadeInRight feature-2"
                 data-wow-delay="0.3s">
              <div class="shapes">
                <img src="<%= asset_path('feature/shape-13.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-15.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-15.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-11.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-12.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-5.png') %>" alt="shape">
              </div>
              <div class="feature-img">
                <img src="<%= asset_path('feature/icon-6.png') %>" alt="">
              </div>
              <div class="feature-content">
                <p>DESDE 7.50%</p>
                <h6>El interés mas competente </h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature-widget-2 align-items-center wow fadeInRight feature-3"
                 data-wow-delay="0.5s">
              <div class="shapes">
                <img src="<%= asset_path('feature/shape-1.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-2.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-6.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-9.png') %>" alt="shape">
                <img src="<%= asset_path('feature/shape-11.png') %>" alt="shape">
              </div>
              <div class="feature-img">
                <img src="<%= asset_path('feature/icon-7.png') %>" alt="">
              </div>
              <div class="feature-content">
                <p>PROCESO EN 7 DIAS</p>
                <h6>Proceso Rápido & Sencillo</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="fast-e-loan pt-130">
        <div class="row gy-xl-0 gy-4">
          <div class="col-xl-5 ">
            <div class="section-title text-start">
              <h2 class="mb-3">Fast, secure & easy loans in just 7 days</h2>
              <p>Need some fast cash? Bad cradit history? We dont mind about your past,
                just the
                future.
                Try loan start and feel secure in your future.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 offset-xl-1 ">
            <div class="apply-topics">
              <ul>
                <li><i class="icon_box-checked"></i>Get up to $15,000 Cash Fast</li>
                <li><i class="icon_box-checked"></i>15 MinuteOnline Application</li>
                <li><i class="icon_box-checked"></i>Centrelink Considered*</li>
                <li><i class="icon_box-checked"></i>Bad Credit Considered2</li>
              </ul>
              <a href="loan" class="theme-btn mt-20 w-100">Apply for loans</a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 ">
            <div class="learn-more">
              <ul>
                <li><span>1.</span> Subject to verifcation, suitability and affordability</li>
                <li class="mt-20"><span>2.</span> Your income from Centrelink must be less then 50%
                  of your total
                  income in
                  order to qialify.</li>
              </ul>
              <a href="#" class="theme-btn theme-btn-light w-100 mt-30">Learn more</a>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </section>


  <!--<section class="manage-c-finance pt-125 pb-140">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="section-title">
            <h2 class="wow fadeInUp">Manage your corporate finances by yourself or in a team</h2>
            <p class="wow fadeInUp" data-wow-delay="0.3s">To replace or complement your bank</p>
          </div>
        </div>
      </div>

      <div class="row pt-60 gy-4 gy-xl-0">
        <div class="col-xl-3 col-md-6">
          <div class="feature-card-widget-2 wow fadeInUp" data-wow-delay="0.1s">
            <div class="icon-bg-1">

              <img src="<%#= asset_path('corporate-finance/icon-5.svg') %>" alt="icon">
            </div>
            <h5>Freelancers</h5>
            <p>The best business account to send and receive payments on a daily basis.</p>
            <a href="#" class="theme-btn theme-btn-outlined mt-45">Find Out More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="feature-card-widget-2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="icon-bg-2">

              <img src="<%#= asset_path('corporate-finance/icon-2.svg') %>" alt="icon">
            </div>
            <h5>SMBs & Startups</h5>
            <p>Optimize your team's expenses by always staying in control.</p>
            <a href="#" class="theme-btn theme-btn-outlined mt-45">Find Out More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="feature-card-widget-2 wow fadeInUp" data-wow-delay="0.5s">
            <div class="icon-bg-3">

              <img src="<%#= asset_path('corporate-finance/icon-3.svg') %>" alt="icon">
            </div>
            <h5>Business Founders</h5>
            <p>Open a business account for the online deposit of your share capital.</p>
            <a href="#" class="theme-btn theme-btn-outlined mt-45">Find Out More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="feature-card-widget-2 wow fadeInUp" data-wow-delay="0.7s">
            <div class="icon-bg-4">

              <img src="<%#= asset_path('corporate-finance/icon-4.svg') %>" alt="icon">
            </div>
            <h5>Microbusinesses</h5>
            <p>Stay focused on your core business by managing your finances and accounting.</p>
            <a href="#" class="theme-btn theme-btn-outlined mt-45">Find Out More</a>
          </div>
        </div>
      </div>
    </div>
  </section>-->


  <!--<section class="how-it-work pt-125 pb-140">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="section-title">
            <h2 class="wow fadeInUp mb-3">Here's how it works.</h2>
            <p class="wow fadeInUp" data-wow-delay="0.3s">When you're ready, Cardinal Loans is ready too
              - 24 hours a day, 7 days a week.</p>
          </div>
        </div>
      </div>

      <div class="row pt-60 gy-lg-0 gy-4">
        <div class="col-lg-6 pe-lg-5">
          <div class="single-widget apply-online wow fadeInUp" data-wow-delay="0.1s">
            <div class="widget-header">
              <div class="widget-img">
                <img src="<%#= asset_path('how-works/icon-1.png') %>" alt="icon">
              </div>
              <div class="widget-title">
                <h4>Apply Online</h4>
                <p>That is why we have a wide range of you can apply for a Personal Loan.</p>
              </div>
            </div>

            <ul class="widget-content">
              <li class="active"> <span class="number">1</span> <span class="text">Apply Online</span>
              </li>
              <li> <span class="number">2</span> <span class="text">Enter Your Informantion - 10
                                        min</span> </li>
              <li> <span class="number">3</span> <span class="text">Pre-qualify / Pre-Approve - 5
                                        min</span> </li>
              <li> <span class="number">4</span> <span class="text">Help you prepare</span> </li>
              <li> <span class="number">5</span> <span class="text">We help your qualify - 15
                                        days</span></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 ps-lg-0">
          <div class="single-widget consultation wow fadeInUp" data-wow-delay="0.3s">
            <div class="widget-header">
              <div class="widget-img">
                <img src="<%#= asset_path('how-works/icon-2.png') %>" alt="icon">
              </div>
              <div class="widget-title">
                <h4>Consultation</h4>
                <p>Conis Guide on the supervisory approach to consolidation in the banking sector.
                </p>
              </div>
            </div>

            <ul class="widget-content">
              <li class="active"> <span class="number">1</span><span class="text">Schedule a Free
                                        Consulation</span></li>
              <li> <span class="number">2</span> <span class="text">Discuss your Situation</span>
              </li>
              <li> <span class="number">3</span> <span class="text">We Review your condition </span>
              </li>
              <li> <span class="number">4</span> <span class="text">Help you prepare</span> </li>
              <li> <span class="number">5</span> <span class="text">We help your qualify</span> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>-->


  <!--<section class="security-area">
    <div class="security-priority pt-90 pb-95 text-center">
      <div class="shapes">
        <img src="<%#= asset_path('security-tips/shape-1.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-2.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-3.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-4.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-5.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-6.png') %>" alt="shape">
        <img src="<%#= asset_path('security-tips/shape-1.png') %>" alt="shape">
        <img data-parallax='{"x": -60, "y": 150, "rotateZ":-15}' src="<%#= asset_path('security-tips/shape-7.png') %>"
             alt="shape">
        <img data-parallax='{"x": 0, "y": -150, "rotateZ":0}' src="<%#= asset_path('security-tips/shape-8.png') %>"
             alt="shape">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 mx-auto">
            <img src="<%#= asset_path('security-tips/security-priority.png') %>" alt="icon">
            <h2 class="mt-4 mb-3">Your security. Our priority.</h2>
            <p>We always have your security in mind. Rest easy knowing your data is protected with
              128-bit encryption. <a href="#">Learn more.</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>-->



  <!--<section class="faq-area pt-125 pb-200">
    <div class="container">
      <div class="section-title text-start">
        <h2 class="mb-0 wow fadeInUp">Frequently asked questions</h2>
      </div>

      <div class="row pt-30 align-items-end">
        <div class="col-lg-7 col-md-8">
          <div class="faq-widget">
            <div class="accordion" id="accordionExample">
              <div class="single-widget-one wow fadeInUp" data-wow-delay="0.1s">
                <div class="w-100">
                  <div class="faq-header" id="headingOne">
                    <h4 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Can I pay off my loan early?<i class="icon_plus"></i><i class=" icon_minus-06"></i>
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                       data-bs-parent="#accordionExample">
                    <div class="faq-body">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                        skateboard
                        dolor brunch.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-widget-one wow fadeInUp" data-wow-delay="0.3s">
                <div class="w-100">
                  <div class="faq-header" id="headingTwo">
                    <h4 class="mb-0 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo">
                      How much can I Banca?<i class="icon_plus"></i><i
                      class=" icon_minus-06"></i>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                       data-bs-parent="#accordionExample">
                    <div class="faq-body">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                        skateboard
                        dolor brunch.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-widget-one wow fadeInUp" data-wow-delay="0.5s">
                <div class="w-100">
                  <div class="faq-header" id="headingThree">
                    <h4 class="mb-0 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true"
                        aria-controls="collapseThree">
                      Do you offering refinancing ?<i class="icon_plus"></i><i
                      class=" icon_minus-06"></i>
                    </h4>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                       data-bs-parent="#accordionExample">
                    <div class="faq-body">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                        skateboard
                        dolor brunch.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-widget-one wow fadeInUp" data-wow-delay="0.7s">
                <div class="w-100">
                  <div class="faq-header" id="headingFour">
                    <h4 class="mb-0 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour">
                      Can I do all of my banking with you?<i class="icon_plus"></i><i
                      class=" icon_minus-06"></i>
                    </h4>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                       data-bs-parent="#accordionExample">
                    <div class="faq-body">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                        skateboard
                        dolor brunch.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-widget-one wow fadeInUp" data-wow-delay="0.9s">
                <div class="w-100">
                  <div class="faq-header" id="headingFive">
                    <h4 class="mb-0 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true"
                        aria-controls="collapseFive">
                      When should i apply?<i class="icon_plus"></i><i
                      class=" icon_minus-06"></i>
                    </h4>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                       data-bs-parent="#accordionExample">
                    <div class="faq-body">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                        skateboard
                        dolor brunch.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-lg-1 mt-4 mt-md-0 ps-lg-5">
          <div class="faq-img">
            <img class="img-fluid" src="<%#= asset_path('faq/illustration.png') %>" alt="faq-image">
          </div>
        </div>
      </div>
    </div>
  </section>-->

  <section class="cta-area pt-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12 position-relative">
          <div class="cta cta-bg-primary">

            <div class="shapes">
              <img src="<%= asset_path('cta/icon-1.png') %>" alt="shape">
              <img data-parallax='{"x": 150, "y": 0, "rotateZ":-0}' src="<%= asset_path('cta/icon-2.png') %>"
                   alt="shape">
              <img src="<%= asset_path('cta/icon-3.png') %>" alt="shape">
              <img src="<%= asset_path('cta/icon-4.png') %>" alt="shape">
              <img src="<%= asset_path('cta/icon-5.png') %>" alt="shape">
              <img data-parallax='{"x": 400, "y": 0, "rotateZ":0}' src="<%= asset_path('cta/icon-6.png') %>"
                   alt="shape">
            </div>

            <div class="row align-items-center">
              <div class="col-md-7">
                <div class="cta-content wow fadeInRight">
                  <h2 class="mb-10">¿Tienes alguna pregunta que quieres que respondamos?</h2>
<!--                  <p>¿Tienes alguna duda o pregunta que quieres que respondamos?</p>-->
                </div>
              </div>

              <div class="col-md-5 text-center text-md-end">
                <div class="cta-content   text-md-end mt-3 mt-md-0">
                  <a href="#" class="theme-btn theme-btn-alt wow fadeInLeft m-0">Contactanos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>